extends ../base_template.pug
include ../_includes/mixins.pug

block styles
    link(rel="stylesheet" href="{% static 'css/meetup.css' %}")

block content
    .container
        .meetup-row
            |{% for meetup in list_meetups %}
            .col-4
                +meetup
            |{% endfor %}